extends layout

block content
    .container
        .row
            div.who
                h3 Who are we?
                p Indonesian Fellowship is a community of Indonesian students studying in Pensacola Chrsitian College in Florida
            div.what
                h3 What do we do?
                p We are regularly having a fellowship where we have a session for praise and worship and a time for a little devotional. We then close by having small prayer groups
            div.how
                h3 How do I become a part of IndoFellow?
                p Everyone is welcome here. Come join us for our service every Friday evening on 7:00 PM at MK 523. (or sign up 
                    a(href='/users/register') here)
            div.vision
                h3 Vision
                p To achieve stronger spiritual bond within the Indonesian community by promoting individual spiritual growth, providing biblical knowledge and establishing a christian atmosphere
            div.mission
                h3 Mission
                p To build a good christian testimony before all men and to be available to meet the needs of others while managing and providing event to achieve stronger spiritual bonds among one another