a:hover {
  text-decoration: none;
}

.nav-link{
  padding-bottom: 10px;
}

.nav-link-effect{
  width: 0px;
  color: black;
  visibility: hidden;
  border: 2px solid black;
  transition: width 0.5s;
}

.nav-item:hover > .nav-link-effect{
  width: 100%;
  color: black;
  visibility: visible;
  border: 2px solid black;
  transition: width 0.5s all ease;
}

footer a{
  color: white;
}

.landing-text{
  color: beige;
  padding: 20px;
  position: relative;
  top: 30px;
}

.container{
  min-height: 77.3vh;
}

.card{
  min-height: 200px;
  margin: 10px 40px;
}

.service-checkbox{
  display: none;
}

.service-label{
  width: 150px;
  text-align: center;
  background: white;
  color: black;
  padding: 10px;
  margin: 10px;
  border: 2px solid black
}

.service-label:hover{
  cursor: pointer;
}

.checkbox-group{
  display: inline;
}

#service0:checked~label,
#service1:checked~label,
#service2:checked~label,
#service3:checked~label,
#service4:checked~label,
#service5:checked~label,
#service6:checked~label,
#service7:checked~label,
#service8:checked~label{
  background: black;
  color: white;
}

ul {
  margin: 0;
  padding: 5px;
}

.login-box{
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 3px solid #4d94c6;
  border-radius: 20px;
}

nav ul li {
  display: inline;
}

.landing {
    height: 100vh;
    width: auto;
    display: block;
    background-image: url("/images/HeroHome.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.logout{
  display: none;
  position: absolute;
}

.loginNav:hover .logout {
  display: block;
  padding: 0 0.5rem;
}

footer {
  background-color: #333333;
  color: white;
}

.contact i{
  padding: 10px;
  font-size: 20pt;
}
